/*
	Name: Joshua Taylor
	Date: 2018-09-19
	Proj: Formatting
	Desc: A visual style using goban-like colors. I hope to improve it throughout the course and maybe add other style files as well.
 */

@charset "utf-8";

body {
	background-color: #733810;
}

.goban {
	color: #180C00;
	background-color: #E7992A;
	width: 75%;
	margin: auto;
	padding: 5px;
	border-left: 2px solid #AD681D;
	border-right: 2px solid #AD681D;
	border-top: 2px solid #AD681D;
	border-bottom: 2px solid #AD681D;
}
